* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
  background-color: rgba(9, 105, 162, 0.5);
}

.container article {
  margin: 5% 0 !important;
  background-color: rgba(255, 187, 0, 0.5);
}

.container img {
  max-width: 25vw;
  max-height: 25vh;
}

.container h1 {
  font-size: 300%;
}

.post {
  margin: 4em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  border: 3px solid blue;
  background-color: red;
}

.post header {
  align-self: stretch;
  text-align: center;
  flex: 0 1 auto;
}

.post-text {
  text-align: center;
}

.post p {
  line-height: 200%;
  margin: 0.4% 0;
  align-self: center;
}
