@charset "UTF-8";
// @import "../node_modules/sanitize.css/sanitize.css";
// @import "../node_modules/normalize.css/sanitize";
@import "vendor/vendor";
@import "vendor/normalize/_normalize";
@import "vendor/vendor";
@import "mixin";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
* {
    margin: 0;
    padding: 0;
    border: 0;
}
%flexpost{
    width: 50%;
}
$colors:#e60926,
#2bacf7,
#f72b46,
#2bf776,
#46f72b;
@mixin bckg() {
    @for $i from 1 through length($colors) {
        &:nth-child(#{length($colors)}n + #{$i}) {
            background: lighten(nth($colors, $i), 20%);
        }
    }
}

$lightgreen: lightseagreen;
$lightblue:#aa33aa;
// retrieve color from $colors map ie. `color(primary, base)`
// color variable map
$wiskey1: "http://www.owensliquors.com/userfiles/Image/background.jpg";
@mixin backImage($image) {
    background: url($image)
    /* image */
    top left / cover
    /* position / size */
    no-repeat
    /* repeat */
    fixed
    /* attachment */
    padding-box
    /* origin */
    border-box
    /* clip */
    // color(secondary, dark);
    /* color */
}

@mixin backColor ($colorBkg) {
    article {
        background-color: transparentize( mix($colorBkg, orangered), 0.25);
    }
    header {
        background-color: transparentize( mix($colorBkg, limegreen), 0.25);
    }
    section {
        background-color: transparentize(complement(lighten($colorBkg, 20%)), 0.25);
    }
    footer {
        background-color: transparentize(complement($colorBkg), 0.25);
    }
    >div {
        background-color: transparentize(saturate($color: $colorBkg, $amount: 25%), 0.25)
    }
    aside {
        background-color: darken(transparentize($colorBkg, 0.2), 20%);
    }
}

html,
body {
    // max-width: calc(100vw - 1vw);
    max-height: 100vh;
    max-width: 100vw;
    @include backImage($wiskey1);
}

.wrapper {
    max-width: 100vw;
    max-height: 100vh; // width: 75rem;
    margin: 0 auto;
    @include make-container();
    .page-header,
    .page-footer {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
        font-family: 'Shrikhand', cursive;
    }
}

#app {
    .post {
        margin: 1em auto;
        @include bckg();
        &:last-child {
            margin: 0;
        }
    }
}

.post-logo {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    .post-logo_img {
        border-radius: 10px;
    }
}

.posts {
    max-height: 100vh;
    max-width: 100vw;
    &-row {
        @include make-row();
    }
    .post {
        @include make-col-ready();
        display: flex;
        flex-flow: column wrap;
        .post-title {
            flex: 0 1 10%;
            border-bottom: 1px solid blue; // background-color: green;
        }
        .post-info {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-flow: wrap row;
            flex: 1 1 auto;
        }
        .post-logo{
              @extend %flexpost;
              border-radius: 40%;
        }
        .list-brassin{
            @extend %flexpost;
            color: black;
           
            h4{
                font-size: 1.4em;
            }
            &_item{
                padding: 0.4em;
            }
        }
        @include media-breakpoint-up(sm) {
            @include make-col(12); 
            .post-info{
                flex-flow: wrap column;
            }
        }
        @include media-breakpoint-up(lg) {
            @include make-col(12);
            &:nth-child(odd) {
                .post-logo {
                    order: 2;
                }
                .list-brassin {
                    order: 4;
                }
               
            }
             &:nth-child(even) {
                 .post-img {
                     order: 4;
                 }
                 .list-brassin {
                     order: 2;
                 }
             }
        }
    }
}