@import "mixin";
@import "variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

$lightgreen: lightseagreen;
$lightblue:#aa33aa;
// retrieve color from $colors map ie. `color(primary, base)`
// color variable map
$colors: ( // nested map inception
primary: ( base: #FFBB00, light: lighten(#FFBB00, 15%), dark: darken(#FFBB00, 15%), trans: transparentize(#FFBB00, 0.5)), // and another. is the totem still spinning?
secondary: ( base: #0969A2, light: lighten(#0969A2, 15%), dark: darken(#0969A2, 15%), trans: transparentize(#0969A2, 0.5)));
$wiskey1: "http://www.owensliquors.com/userfiles/Image/background.jpg";
@mixin back($image) {
    background: url($image)
    /* image */
    top left / cover
    /* position / size */
    no-repeat
    /* repeat */
    fixed
    /* attachment */
    padding-box
    /* origin */
    border-box
    /* clip */
    color(secondary, dark);
    /* color */
}

@mixin backColor ($colorBkg) {
    >* {
        background-color: mix($colorBkg, white);
    }
    article {
        background-color: $colorBkg;
    }
    header {
        background-color: lightblue;
    }
    section {
        background-color: saturation(lighten($colorBkg,20%));
    }
    footer {
        background-color: complement($colorBkg);
    }
    aside {
        background-color:darken(transparentize($colorBkg, 0.2), 20%);
    }
    footer {
        background-color: complement(darken(adjust-hue($colorBkg, 20%), 10%));
    }
}

body {
    width: 100vw;
    height: 100vh;
}
h2{
    font-size: 225%;
}
h3{
   font-size: 175%;
}

.container {
    max-width: 100vw;
    max-height: 100vw;
    // width: 60em;
    margin: 0 auto;
    height: auto;

     display: flex;
     justify-content: flex-start;
     flex-flow: column wrap;
     align-items: center;
     align-content: flex-start;

    background-color: #fff;
    color: #444;
}

.post {
     @include backColor(#0fa);
    border: 2px solid gold;
    color: black;

   
    .item{
        text-decoration: underline;
    }
    header{
        flex: 1 0;
    }
}