* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  width: 100vw;
  height: 100vh;
}

h2 {
  font-size: 225%;
}

h3 {
  font-size: 175%;
}

.container {
  max-width: 100vw;
  max-height: 100vw;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-items: center;
  align-content: flex-start;
  background-color: #fff;
  color: #444;
}

.post {
  border: 2px solid gold;
  color: black;
}

.post > * {
  background-color: #80ffd5;
}

.post article {
  background-color: #0fa;
}

.post header {
  background-color: lightblue;
}

.post section {
  background-color: 100%;
}

.post footer {
  background-color: #ff0055;
}

.post aside {
  background-color: rgba(0, 153, 102, 0.8);
}

.post footer {
  background-color: #cc0000;
}

.post .item {
  text-decoration: underline;
}

.post header {
  flex: 1 0;
}
