@import "mixin";
@import "variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

$lightgreen: lightseagreen;
$lightblue:#aa33aa;
// retrieve color from $colors map ie. `color(primary, base)`
// color variable map
$colors: ( // nested map inception
primary: ( base: #FFBB00, light: lighten(#FFBB00, 15%), dark: darken(#FFBB00, 15%), trans: transparentize(#FFBB00, 0.5)), // and another. is the totem still spinning?
secondary: ( base: #0969A2, light: lighten(#0969A2, 15%), dark: darken(#0969A2, 15%), trans: transparentize(#0969A2, 0.5)));
$wiskey1: "http://www.owensliquors.com/userfiles/Image/background.jpg";
@mixin back($image) {
    background: url($image)
    /* image */
    top left / cover
    /* position / size */
    no-repeat
    /* repeat */
    fixed
    /* attachment */
    padding-box
    /* origin */
    border-box
    /* clip */
    color(secondary, dark);
    /* color */
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
  
    background-color: #fff;
    color: #444;
}

.content {
    grid-area: content;
    // position: relative;
    display: flex;
    justify-content: center;
    flex-flow: wrap column;

    header{
        background-color: blue;
    }
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.box {
    background-color: lighten(#444, 25%);
    color: #fff;
    border-radius: 5px;
    padding: 50px;
    font-size: 150%;
    &-content {
        background-color: darken(#144, 15%);
    }
}