

.section {
    background: #ff00aa;
}
.rye header{
    background: #aaffff;
    z-index: 1000;
width: 100%;
}

.rye {
    background:#ffaaaa;
}

.bourbon {
    background: #00ff00;
}
.scotch{
     background: #0000ff;
}