* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: #fff;
  color: #444;
}

.content {
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
}

.content header {
  background-color: blue;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.box {
  background-color: #848484;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 150%;
}

.box-content {
  background-color: #020707;
}
